In [1]:
import pandas as pd

In [5]:
NY_data_df = pd.read_csv("NY_death_data.txt",  delim_whitespace=True)
NY_data_df.tail()

,Notes,UCD - ICD Chapter,UCD - ICD Chapter Code,Race,Race Code,Gender,Gender Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Year,Year Code,Deaths,Population,Crude,Rate
8735,estimates. Population figures for Infant Age G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8736,figures for years 2001 - 2009 differ slightly ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8737,were available at the time of release.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8738,7. The population figures used in the calculat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8739,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cleanNYDatadf = NY_data_df.dropna()
cleanNYDatadfhead